.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    white-space: pre-wrap;
    width: max-content;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16pt;

    width: 40%;
}

.form * {
    width: 100%;
}

.form-button,
.form-input,
.form-textarea {
    font-size: inherit;
}

.form-button {
    height: 100px;
}
.form-button:hover,
.form-button:focus {
    background-color: #2c2c2c;
}

.button-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-section .form-button {
    width: 50%;
}

.form-input {
    height: 100px;
}
.form-textarea {
    height: 300px;
    resize: vertical;
}


@media only screen and (max-width: 40em) {
    .form {
        width: 100%;
    }

    .button-section .form-button {
        width: 100%;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    .form {
        width: 90%;
    }

    .button-section .form-button {
        width: 100%;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    .form {
        width: 90%;
    }

    .button-section .form-button {
        width: 50%;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    .form {
        width: 50%;
    }

    .button-section .form-button {
        width: 50%;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
    .form {
        width: 40%;
    }

    .button-section .form-button {
        width: 50%;
    }
}