.button {
    background: none;
    border: none;
}

.button::after {
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    visibility: hidden;
    display: block;
    cursor: pointer;
}

.button:hover::after {
    visibility: visible;
}
