.terminal {
    position: relative;
    background-color: #060918;
    padding: 20px;

    display: flex;
    flex-direction: column;

    font-size: 16pt;
}

.history {
}

.input-prefix-span {
    color: #1d99f3;
    margin-right: 0.4em;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    visibility: hidden;
}

.input-section.visible {
    visibility: visible;
}

.command-inputted {
    white-space: pre-wrap;
}

.command-input {
    background: none;
    border: none;
    outline: none;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

@keyframes blink {
    0%,
    100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.command-input:focus + .cursor {
    background-color: #fff;
    animation: blink 1.4s steps(1, end) infinite;
}

.cursor {
    align-self: flex-end;
    height: 1em;
    width: 0.4em;
    border: 1px solid #fff;
}

span.invalid {
    color: #ed1515;
}

span.valid {
    color: #11d116;
}

span.text {
    color: #f67400;
}


.help-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}