.preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    --font-size: 4.3vw;
}

.preview-container.loaded {
    display: none;
}

@media (max-width: 992px) {
    .preview-container {
        --font-size: 6vw;
    }
}
@media (max-width: 768px) {
    .preview-container {
        --font-size: 8vw;
    }
}


@keyframes blink {
    0%,
    100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.cursor {
    background-color: #fff;
    animation: blink 0.7s steps(1, end) infinite;
    height: var(--font-size);
    width: calc(0.4 * var(--font-size));
    border: 1px solid #fff;
}

.preview {
    color: #fff;
    font-size: var(--font-size);
}
