.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    white-space: pre-wrap;
    width: max-content;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16pt;

    width: 40%;
}

.form * {
    width: 100%;
}

.form-button,
.form-input,
.form-textarea {
    font-size: inherit;
}

.form-button {
    height: 100px;
}
.form-input {
    height: 100px;
}
.form-textarea {
    height: 300px;
}

.button-section {
    display: flex;
    justify-content: space-between;
}

.button-section .form-button {
    width: 50%;
}
