.header {
    display: flex;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100vh;

    z-index: 100;

    background-color: #060918;

    overflow: hidden;
    transition: 0.3s ease-in;
}

.header-content {
    display: none;
    width: 100%;
    height: 100%;
}

.header.loaded {
    height: var(--header-height);
}

.header.loaded .header-content {
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
  }

.matrix-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

/* .header.loaded .matrix-bg{
    display: block;
} */

.matrix-bg-blur {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);

    width: 100%;
    height: 500%;

    z-index: -1;
    background: radial-gradient(#060918aa, #06091844);
}

/* 
.matrix-bg::after {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--header-height);

    background: radial-gradient(#ffffff44 100%, #ffffffff 0);
} */
