.wrap * {
    display: inline;
    white-space: break-spaces;
    word-break: break-all;
}

.command-input {
    background: none;
    border: none;
    outline: none;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

@keyframes blink {
    0%,
    100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.command-input:focus + .cursor {
    background-color: #fff;
    animation: blink 1.4s steps(1, end) infinite;
}

.cursor {
    display: inline-block;
    height: 1em;
    width: 0.4em;
    border: 1px solid #fff;
}