.input-ascii {
    font-size: inherit;
    position: absolute;
    line-height: 1;
    white-space: pre-wrap;
    width: max-content !important;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-elem {
    font-size: inherit;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;

    background: none;
    border: none;
    resize: none;
}

.input {
    position: relative;
    overflow: hidden;
}
