@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 70px;
    font-family: monospace;
}

* {
    font-family: Roboto, monospace, monospace;
    line-height: 1.2;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button:hover,
button:focus {
    cursor: pointer;
}
